* {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
  background-color: white;
}

.nav-icon {
  font-size: 40px;
  padding: 5px 10px;
}

.hamburger {
  display: none;
  border: 1px solid black;
  border-radius: 5px;
}

.nav-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.links {
  text-decoration: none;
  font-size: 1.2em;
}

.hero {
  border: 1px solid black;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 10%;
  gap: 20px;
  font-family: "Prompt", sans-serif;
  &__text {
    font-size: 1.5em;
    &__header {
      font-size: 2em;
    }
    &__hidden {
      background-color: black;
      transition: background-color 0.5s ease;

      &:hover {
        background-color: white;
      }
    }
  }
}

.tech-stack {
  border: 1px solid black;
  height: 100%;
  font-family: "Prompt", sans-serif;
  padding: 10% 10%;
  &__container {
    display: flex;
    border: 1px solid black;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5em;
    padding: 10% 10%;
    .tech-stack__card {
      display: flex;
      align-items: center;
      flex-direction: column;
      i {
        font-size: 3em;
      }
      p {
        font-size: 1.5em;
        font-family: "Prompt", sans-serif;
      }
    }
  }
  &__header {
    font-size: 2.5em;
  }
}

.project {
  height: 100%;
  border: 1px solid black;
  padding: 10%;
  &__header {
    text-align: center;
    font-size: 2.5em;
  }
  &__container {
    border: 1px solid black;
    height: 80%;
    display: flex;
    gap: 1em;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  &__card {
    border: 1px solid black;
    color: red;
    display: flex;
    height: 35%;
    width: 25em;
    flex-shrink: 0;

    &--left {
      border: 1px solid black;
      text-align: center;
      width: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 65%;
        object-fit: fill;
      }
    }
    &--right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      overflow: hidden;
    }
  }
}

.about {
  height: 100%;
  padding: 0 10%;
  border: 1px solid black;
  &__heading__container {
    display: flex;
    justify-content: space-between;
  }
  &__content__container {
    height: 50%;
    display: flex;
    // border: 1px solid black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;
    gap: 5em;
    img {
      border-radius: 50%;
      max-height: 80%;
    }
    &__img {
      flex: 1;
    }
    &__text {
      flex: 1;
    }
    &__links {
      flex: 1;
    }
  }
}

@media (max-width: 470px) {
  .hamburger {
    display: block;
  }

  .nav-right-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .links {
    display: none;
  }

  .nav-right-container.menu-active .links {
    display: block;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
  }

  .nav-right-container.menu-active {
    gap: 0;
  }

  .hero {
    &__text {
      font-size: 1.2em;
      &__header {
        font-size: 1.5em;
      }
    }
  }

  .tech-stack {
    &__header {
      font-size: 1.5em;
    }
  }

  .project {
    &__card {
      
      flex-direction: column;
      
      &--left {
        width: 100%; 
       img {
        height: 70%;
       }
      }
      
      &--right {
        display: none; 
        width: 0; 
        flex: 0;
      }
    }
  }

  .about {
    &__content__container {
      display: flex;
      flex-direction: column;
      
      &__img {
        width: 100%;
        overflow: hidden;
        
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          max-width: 100%;
          display: block;
        }
      }
    }
  }
}
