* {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
  scroll-behavior: smooth;
}



nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 0.5em;
  background-color: white;
  a {
    text-decoration: none;
    color: black;
  }
}

.nav-icon {
  font-size: 40px;
  padding: 5px 10px;
}

.hamburger {
  display: none;
  border: 1px solid black;
  border-radius: 5px;
}

.nav-right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  padding-right: 3%;
}

.links {
  text-decoration: none;
  font-size: 1.2em;
  &:hover {
    background-color: rgba(238, 231, 150, 0.9);
    border-radius: 5px;
  }
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 10%;
  gap: 20px;
  font-family: "Prompt", sans-serif;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 40%,
    rgba(248, 246, 223, 0.9) 100%
  );
  &__text {
    font-size: 1.5em;
    &__header {
      font-size: 2em;
    }
    &__hidden {
      background-color: black;
      transition: background-color 0.5s ease;

      &:hover {
        background-color: white;
      }
    }
  }
}

.tech-stack {
  height: 100%;
  font-family: "Prompt", sans-serif;
  padding: 10% 10%;
  background: rgba(248, 246, 223, 1);
  &__container {
    display: flex;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 10px 10px 8px #888888;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5em;
    padding: 10% 10%;
    .tech-stack__card {
      display: flex;
      align-items: center;
      flex-direction: column;
      i {
        font-size: 3em;
      }
      p {
        font-size: 1.5em;
        font-family: "Prompt", sans-serif;
      }
    }
  }
  &__header {
    font-size: 2.5em;
  }
}

.project {
  height: 100%;
  min-height: 50vh;
  padding: 10%;
  background: white;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 90%,
    rgba(248, 246, 223, 1) 100%
  );
  &__header {
    font-size: 2.5em;
    padding-bottom: 0.5em;
  }
  &__container {
    border: 1px solid black;
    box-shadow: 10px 10px 8px #888888;
    border-radius: 3px;
    height: 80%;
    display: flex;
    gap: 1em;
    padding: 1em;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  &__card {
    border: 1px solid black;
    display: flex;
    height: 35%;
    width: 25em;
    flex-shrink: 0;
    gap: 5%;
    border-radius: 2px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    &--left {
      text-align: center;
      width: 50%;
      overflow: hidden;
      min-height: 317px;
      img {
        width: 100%;
        height: 80%;
        object-fit: contain;
      }
      i {
        font-size: 1.2em;
        padding-left: 0.6em;
        text-decoration: none;
        color: black;
      }
    }
    &--right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      overflow: hidden;
    }
  }
}

.about {
  height: 100%;
  padding: 5% 10%;
  background-color: rgb(248, 246, 223);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.7) 10%,
    rgba(248, 246, 223, 1) 100%
  );
  &__heading__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
  }
  &__content__container {
    border-radius: 3px;
    box-shadow: 10px 10px 8px #888888;
    height: 100%;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5% 10%;
    gap: 2em;
    img {
      border-radius: 50%;
      max-height: 80%;
    }
    &__img {
      flex: 1;
    }
    &__text {
      flex: 2;
      p {
        min-width: 200px;
      }
    }
    &__links {
      flex: 1;
      i {
        font-size: 2.5em;
        text-decoration: none;
        color: black;
      }
    }
  }
}

.footer {
  &__text {
    text-align: end;
    padding: 2% 1%;
  }
}

@media (max-width: 470px) {
  .hamburger {
    display: block;
  }

  .nav-right-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .links {
    display: none;
  }

  .nav-right-container.menu-active .links {
    display: block;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
  }

  .nav-right-container.menu-active {
    gap: 0;
  }

  .hero {
    &__text {
      font-size: 1.2em;
      &__header {
        font-size: 1.5em;
      }
    }
  }

  .tech-stack {
    &__header {
      font-size: 1.5em;
    }
  }

  .project {
    &__card {
      flex-direction: column;
      border: none;
      &--left {
        width: 100%;
        border: none;

        img {
          padding-top: 3em;
          height: 70%;
          width: 60%;
          object-fit: contain;
        }
      }

      &--right {
        display: none;
        width: 0;
        flex: 0;
      }
    }
  }

  .about {
    &__content__container {
      display: flex;
      flex-direction: column;

      &__img {
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          max-width: 100%;
          display: block;
        }
      }
    }
  }
}
