@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@mixin icon-decoration-none {
  text-decoration: none;
  color: black;
}
